* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

body {
  background-color: #E8FDFF;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:500px;
  flex-direction:row;
  -moz-box-shadow:    0px 0px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  box-shadow:         0px 0px 2px 0px rgba(0,0,0,0.2);
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Open sans';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid #819090;
  border-left: none;
  border-top: none;
}

#gpt, #nostic {
  padding:0.6em 0.8em;
  background-color: #819090;
  color: #fff;
  border:none;
  transition: 0.2s ease;
}

#gpt:hover, #nostic:hover{
    scale:1.1;
    cursor:pointer;
}
#saved{
  border:none;
  color: #fff;
  padding:0.6em 0.8em;
  background-color: rgb(26, 185, 26);
}